In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('./data_files/us_census_sahie_2015.csv',encoding = "ISO-8859-1" )
df.head()

/Users/jakram/anaconda/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (9,10,11,12,13,14,15,16,17,18,19,20,21,22) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,year,version,statefips,countyfips,geocat,agecat,racecat,sexcat,iprcat,NIPR,...,PCTUI,pctui_moe,PCTIC,pctic_moe,PCTELIG,pctelig_moe,PCTLIIC,pctliic_moe,state_name,county_name
0,2015,,1,0,40,0,0,0,0,3994181,...,11.9,0.3,88.1,0.3,11.9,0.3,88.1,0.3,Alabama ...,
1,2015,,1,0,40,0,0,0,1,1588535,...,19.8,0.6,80.2,0.6,7.9,0.3,31.9,0.4,Alabama ...,
2,2015,,1,0,40,0,0,0,2,1948390,...,18.6,0.5,81.4,0.5,9.1,0.3,39.7,0.4,Alabama ...,
3,2015,,1,0,40,0,0,0,3,1104165,...,21.2,0.7,78.8,0.7,5.9,0.2,21.8,0.3,Alabama ...,
4,2015,,1,0,40,0,0,0,4,2798291,...,15.5,0.4,84.5,0.4,10.8,0.3,59.2,0.4,Alabama ...,

In [3]:
df[['statefips', 'countyfips']] = df[['statefips', 'countyfips']].astype(str) #apply(pd.to_string, errors='raise')

def county_fips_complete(x):
    if len(x) == 1:
        x = '00' + x
    elif len(x) == 2:
        x = '0' + x
    else:
        x = x
    return x

def state_fips_complete(x):
    if len(x) == 1:
        x = '0' + x
    else:
        x = x
    return x
    
df['countyfips'] = df['countyfips'].apply(lambda x: county_fips_complete(x))
df['statefips'] = df['statefips'].apply(lambda x: state_fips_complete(x))

df['fips_code'] = df[['statefips', 'countyfips']].apply(lambda x: ''.join(x), axis=1)


df.head()

,year,version,statefips,countyfips,geocat,agecat,racecat,sexcat,iprcat,NIPR,...,pctui_moe,PCTIC,pctic_moe,PCTELIG,pctelig_moe,PCTLIIC,pctliic_moe,state_name,county_name,fips_code
0,2015,,01,000,40,0,0,0,0,3994181,...,0.3,88.1,0.3,11.9,0.3,88.1,0.3,Alabama ...,,01000
1,2015,,01,000,40,0,0,0,1,1588535,...,0.6,80.2,0.6,7.9,0.3,31.9,0.4,Alabama ...,,01000
2,2015,,01,000,40,0,0,0,2,1948390,...,0.5,81.4,0.5,9.1,0.3,39.7,0.4,Alabama ...,,01000
3,2015,,01,000,40,0,0,0,3,1104165,...,0.7,78.8,0.7,5.9,0.2,21.8,0.3,Alabama ...,,01000
4,2015,,01,000,40,0,0,0,4,2798291,...,0.4,84.5,0.4,10.8,0.3,59.2,0.4,Alabama ...,,01000

In [4]:
df = df[['year', 'fips_code', 'geocat','agecat','racecat', 'sexcat','iprcat','NIPR','NUI','NIC', 'county_name', 'state_name']]

col_rename = {
    'geocat': 'geo_category_id',
    'agecat': 'age_category_id',
    'racecat': 'race_category_id',
    'sexcat': 'sex_category_id',
    'iprcat': 'income_category_id',
    'NIPR': 'total_in_group',
    'NUI': 'number_uninsured',
    'NIC': 'number_insured'

}

df.rename(columns=col_rename, inplace = True)

In [5]:
geo_category_names = {
    40: 'State Identifier',
    50: 'County Identifier'
}

age_category_names = {
    0: 'Under 65 years',
    1: '18 to 64 years',
    2: '40 to 64 years',
    3: '50 to 64 years',
    4: 'Under 19 years',
    5: '21 to 64 years'
}

race_category_names = {
    0: 'All races',
    1: 'White alone not Hispanic',
    2: 'Black alone not Hispanic',
    3: 'Hispanic (any race)'
}

sex_category_names = {
    0: 'Both',
    1: 'Male',
    2: 'Female'
}

income_category_names = {
    0: 'All income levels',
    1: 'At or below 200% of poverty',
    2: 'At or below 250% of poverty',
    3: 'At or below 138% of poverty',
    4: 'At or below 400% of poverty',
    5: 'Between 138% - 400%  of poverty'
}

df['geo_category_names'] = df['geo_category_id'].map(lambda x: geo_category_names[x])
df['age_category_names'] = df['age_category_id'].map(lambda x: age_category_names[x])
df['race_category_names'] = df['race_category_id'].map(lambda x: race_category_names[x])
df['sex_category_names'] = df['sex_category_id'].map(lambda x: sex_category_names[x])
df['income_category_names'] = df['income_category_id'].map(lambda x: income_category_names[x])

In [6]:
df[['total_in_group','number_uninsured','number_insured', 'fips_code', 'year']] =\
    df[['total_in_group','number_uninsured','number_insured', 'fips_code', 'year']].apply(pd.to_numeric, errors='coerce', downcast='integer')

df.head()

,year,fips_code,geo_category_id,age_category_id,race_category_id,sex_category_id,income_category_id,total_in_group,number_uninsured,number_insured,county_name,state_name,geo_category_names,age_category_names,race_category_names,sex_category_names,income_category_names
0,2015,1000,40,0,0,0,0,3994181.0,475233.0,3518948.0,,Alabama ...,State Identifier,Under 65 years,All races,Both,All income levels
1,2015,1000,40,0,0,0,1,1588535.0,315278.0,1273257.0,,Alabama ...,State Identifier,Under 65 years,All races,Both,At or below 200% of poverty
2,2015,1000,40,0,0,0,2,1948390.0,362561.0,1585829.0,,Alabama ...,State Identifier,Under 65 years,All races,Both,At or below 250% of poverty
3,2015,1000,40,0,0,0,3,1104165.0,233672.0,870493.0,,Alabama ...,State Identifier,Under 65 years,All races,Both,At or below 138% of poverty
4,2015,1000,40,0,0,0,4,2798291.0,432968.0,2365323.0,,Alabama ...,State Identifier,Under 65 years,All races,Both,At or below 400% of poverty

In [7]:
from sqlalchemy import create_engine
engine = create_engine('postgresql://localhost:5432/ifprates')

In [8]:
df.columns = [c.lower() for c in df.columns] #postgres doesn't like capitals or spaces

In [9]:
df.to_sql("census_sahie_2015", engine, schema='etl')